body {
    background-image: url(../img/62cee2297842d8811cfc2ad5_buen-servicio-en-taller-mecanico.jpeg);
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
    /*letras*/
}

a {
    color: white;
    text-decoration: none;
}

.carousel-item img {
    width: 100%;
    height: 50rem;
    object-fit: fill;
}

.cuadro-login {
    margin-top: 3rem;
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
    padding-bottom: 7rem;
    margin-bottom: 50rem;
}

.cuadro-login label {
    color: white;
    margin-bottom: 0.25rem;
}

.cuadro-login h1 {
    color: white;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.cuadro-login a {
    color: rgb(214, 214, 214);
}

.cuadro-login a:hover {
    color: white;
}

.cuadro-login .form-control {
    margin-bottom: 3rem;
}

.nav-link:hover {
    background-color: rgb(100, 100, 100);
}

.hr-fade {
    height: 3px;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
}

.cuadro-form {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

.cuadro-form h1 {
    color: white;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.cuadro-form label {
    color: white;
    margin-bottom: 0.25rem;
}

.cuadro-form div {
    margin-bottom: 2rem;
}

.formulario {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
    padding-bottom: 3rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
}


.solicitud {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
    padding-bottom: 3rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
}

.solicitud h5 {
    font-size: 18px;
}

.motivo {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.salir {
    color: white;
}

.salir:hover {
    color: white;
}

.publicacion {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 50px;
    margin-bottom: 5rem;
}


.carousel-item-img {
    border-radius: 10%;
}

.cuadro {
    width: auto;
    height: auto;
    background-color: #931f1f;
    padding: 3rem;
    border: solid black 5px;
    border-radius: 40px;
    margin-top: 5rem;
    margin-bottom: 30rem;
}

.trabajo {
    background-color: #520f0f;
    border: solid white 3px;
    padding: 1.5rem;
    width: auto;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 15px;
}

.trabajo:hover {
    background-color: whitesmoke;
    border: solid black 3px;
    color: black;
}

#tituloBusqueda {
    display: block;
    color: white;
    margin-top: 5rem;
}

#tituloPublicacion {
    display: block;
    color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.cuadro-trabajo {
    width: auto;
    height: auto;
    padding: 2rem;
    text-align: justify;
}

.cuadro-trabajo p {
    font-size: 18px;
}

.cuadro-detalle {
    background-color: #520f0f;
    border: solid white 3px;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.cuadro-detalle p {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.contorno {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.pieDePagina {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;
    margin-top: 2rem !important;
    box-sizing: border-box;
}

.pieDePagina img {
    width: 65px;
    height: 40px;
    margin-top: 2rem;
}

.pieDePagina .derechos {
    margin-top: 2rem;
    text-align: center;
}

.pieDePagina p {
    text-align: center;
}

.pieDePagina h4 {
    text-align: center;
    margin-top: 1rem;
}

#salirId {
    margin-right: 1rem;
}

.publicacionRevision {
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 50px;
    margin-bottom: 3rem;
}

.fondoTabla {
    background-color: #520f0f;
    color: white;
    width: auto;
    height: auto;
    padding: 2rem;
    margin-top: 5rem;
    border: solid white 3px;
    margin-bottom: 50rem;
    border-radius: 8px;
}

.scope {
    color: white;
    text-align: center;
}

.datos {
    color: white;
    text-align: center;
}

.img-listado {
    width: 8rem;
    height: 5rem;
    margin-top: 6px;
}

.cuadroBusquedaCliente {
    width: auto;
    height: auto;
    background-color: #931f1f;
    padding: 3rem;
    border: solid black 5px;
    border-radius: 20px;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

.cuadroBusquedaClienteAlternativo {
    width: auto;
    height: auto;
    background-color: #931f1f;
    padding: 2rem;
    border: solid black 5px;
    border-radius: 20px;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.registroexitoso {
    text-align: center;
    background-color: #931f1f;
    width: auto;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 50px;
    margin-bottom: 50rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-item img {
        width: auto;
        height: 35rem;
        object-fit: fill;
    }

    .solicitud {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 30px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 20rem;
    }

    .trabajo {
        background-color: #520f0f;
        border: solid white 3px;
        padding: 1.5rem;
        width: auto;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 14px;
    }

    .img-listado {
        width: 8rem;
        height: 5rem;
    }

    .fondoTabla {
        background-color: #520f0f;
        color: white;
        width: auto;
        height: auto;
        padding: 2rem;
        margin-top: 5rem;
        border: solid white 3px;
        margin-bottom: 50rem;
    }

    .formulario {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }

    .cuadroBusquedaCliente {
        width: auto;
        height: auto;
        background-color: #931f1f;
        padding: 3rem;
        border: solid black 5px;
        border-radius: 20px;
        margin-top: 5rem;
        margin-bottom: 35rem;
    }

    .publicacionRevision {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 3rem;
    }

    .publicacion {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1.5rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 5rem;
    }

    .publicacion p {
        font-size: 16px;
        color: white;
    }

    .cuadro-detalle {
        background-color: #520f0f;
        border: solid white 3px;
        border-radius: 8px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }

    .cuadro-detalle p {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .motivo {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 3rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 5%;
        padding-bottom: 8rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .pieDePagina {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6rem;
        margin-top: 2rem !important;
        box-sizing: border-box;
    }

    .pieDePagina img {
        width: 65px;
        height: 40px;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .fondoTabla {
        background-color: #520f0f;
        color: white;
        width: auto;
        height: auto;
        padding: 1rem;
        margin-top: 5rem;
        border: solid white 3px;
        margin-bottom: 50rem;
    }

    .solicitud {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 30px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 20rem;
    }

    .solicitud h5 {
        font-size: 15px;
    }

    .img-listado {
        width: 8rem;
        height: 5rem;
    }

    .scope {
        color: white;
        text-align: center;
    }

    .datos {
        color: white;
        text-align: center;
    }

    .publicacionRevision {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1.5rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 3rem;
    }

    .cuadro {
        width: auto;
        height: auto;
        background-color: #931f1f;
        padding: 3rem;
        border: solid black 5px;
        border-radius: 50px;
        margin-top: 5rem;
        margin-bottom: 30rem;
    }

    .trabajo {
        background-color: #520f0f;
        border: solid white 3px;
        padding: 1.5rem;
        width: auto;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 14px;
        text-align: justify;
    }

    .trabajo:hover {
        background-color: whitesmoke;
        border: solid black 3px;
        color: black;
    }

    .img-listado {
        width: 8rem;
        height: 5rem;
        margin-bottom: 1rem;
    }

    .formulario {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }

    .cuadroBusquedaCliente {
        width: auto;
        height: auto;
        background-color: #931f1f;
        padding: 2rem;
        border: solid black 5px;
        border-radius: 20px;
        margin-top: 5rem;
        margin-bottom: 35rem;
    }

    .carousel-caption {
        font-size: 12px;
    }

    .carousel-item img {
        width: auto;
        height: 35rem;
        object-fit: fill;
    }

    .publicacion {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1.5rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 5rem;
    }

    .publicacion p {
        font-size: 15px;
        color: white;
    }

    .cuadro-detalle {
        background-color: #520f0f;
        border: solid white 3px;
        border-radius: 8px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }

    .cuadro-detalle p {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 15px;
    }

    .motivo {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 5%;
        padding-bottom: 8rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .pieDePagina {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6rem;
        margin-top: 0.5rem !important;
        box-sizing: border-box;
    }

    .pieDePagina img {
        width: 62px;
        height: 30px;
        margin-top: 2rem;
    }

    .pieDePagina .derechos {
        font-size: 12px;
        margin-top: 2rem;
        text-align: center;
    }

    .pieDePagina p {
        font-size: 12px;
        text-align: center;
    }

    .pieDePagina h4 {
        font-size: 14px;
        text-align: center;
        margin-top: 2rem;
    }
}


@media only screen and (min-width: 360px) and (max-width: 574px) {
    .fondoTabla {
        background-color: #520f0f;
        color: white;
        width: auto;
        height: auto;
        padding: 0.5rem;
        margin-top: 5rem;
        border: solid white 3px;
        margin-bottom: 50rem;
        font-size: 10px;
    }

    .solicitud {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 30px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 20rem;
    }

    .solicitud h5 {
        font-size: 12px;
    }

    .formulario {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 2rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        padding-bottom: 3rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }

    .cuadroBusquedaCliente {
        width: auto;
        height: auto;
        background-color: #931f1f;
        padding: 2rem;
        border: solid black 5px;
        border-radius: 20px;
        margin-top: 5rem;
        margin-bottom: 35rem;
    }

    .carousel-caption {
        font-size: 12px;
    }

    .carousel-item img {
        width: auto;
        height: 30rem;
        object-fit: fill;
    }

    .publicacionRevision {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1.5rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 3rem;
    }

    .publicacionRevision h5 {
        font-size: 12px;
    }

    .publicacion {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 50px;
        margin-bottom: 5rem;
    }

    .pieDePagina {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6rem;
        margin-top: 2rem !important;
        box-sizing: border-box;
    }

    .pieDePagina img {
        width: 26px;
        height: 13px;
        margin-top: 0.2rem;
    }

    .pieDePagina .derechos {
        font-size: 8px;
        margin-top: 0.2rem;
        text-align: center;
    }

    .pieDePagina p {
        font-size: 6px;
        text-align: center;
    }

    .pieDePagina h4 {
        font-size: 8px;
        text-align: center;
        margin-top: 0.2rem;
    }

    .publicacion p {
        font-size: 14px;
        color: white;
    }

    .img-listado {
        width: 8rem;
        height: 5rem;
    }

    .cuadro-detalle {
        background-color: #520f0f;
        border: solid white 3px;
        border-radius: 8px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .cuadro-detalle p {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 14px;
    }

    .motivo {
        background-color: #931f1f;
        width: auto;
        height: auto;
        padding: 1rem;
        box-sizing: border-box;
        border: solid rgb(0, 0, 0) 5px;
        border-radius: 5%;
        padding-bottom: 8rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cuadro-trabajo {
        width: auto;
        height: auto;
        padding: 2rem;
        text-align: justify;
    }

    .cuadro-trabajo p {
        font-size: 14px;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.parpadeo {
    animation: parpadeo 1s infinite;
}