body{
    background-image: url(../img/62cee2297842d8811cfc2ad5_buen-servicio-en-taller-mecanico.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white; /*letras*/
}
a{
    color: white;
    text-decoration: none;
}
.carousel-item img {
    width: 100%;
    height: 50rem;
    object-fit: fill;
  }
.cuadro-login{
    margin-top: 3rem;
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 7rem;
}

.cuadro-login label{
    color:white;
    margin-bottom: 0.25rem;
}

.cuadro-login h1{
    color: white;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.cuadro-login a{
    color: rgb(214, 214, 214);
}

.cuadro-login a:hover{
    color: white;
}

.cuadro-login .form-control{
    margin-bottom: 3rem;
}

.nav-link:hover{
    background-color: rgb(100, 100, 100);
}

.cuadro-form{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

.cuadro-form h1{
    color: white;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.cuadro-form label{
    color:white;
    margin-bottom: 0.25rem;
}

.cuadro-form div{
    margin-bottom: 2rem;
}

.formulario{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}


.solicitud{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.motivo{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    padding-bottom: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.salir{
    color: white;
}

.salir:hover{
    color: white;
}

.publicacion{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    margin-bottom: 5rem;
}


.carousel-item-img {
    border-radius: 10%;
  }

.cuadro{
    width: auto;
    height: auto;
    background-color: #931f1f;
    padding: 3rem;
    border: solid black 5px;
    border-radius: 5%;
    margin-top: 5rem;
}

.trabajo{
    background-color: #520f0f;
    border: solid white 3px;
    padding: 1.5rem;
    width: auto;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.trabajo:hover{
    background-color: whitesmoke;
    border: solid black 3px;
    color: black;
}

#tituloBusqueda{
    display: block;
    color: white;
    margin-top: 5rem;
}

#tituloPublicacion{
    display: block;
    color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.cuadro-trabajo{
    width: auto;
    height: auto;
    padding: 2rem;
    text-align: start;
}

.cuadro-trabajo p{
    font-size: 18px;
}

.cuadro-detalle{
    background-color: #520f0f;
    border: solid white 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cuadro-detalle p{
    margin: 0 auto;
    text-align: center;
}

.contorno {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#salirId{
    margin-right: 1rem;
}

.publicacionRevision{
    background-color: 	#931f1f;
    width: auto;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 5%;
    margin-bottom: 3rem;
}

.fondoTabla{
    background-color: #520f0f;
    color: white;
    width: auto;
    height: auto;
    padding: 2rem;
    margin-top: 5rem;
    border: solid white 3px;
}

.scope{
    color: white;
    text-align: center;
}

.datos{
    color: white;
    text-align: center;
}