{% extends 'navbar.html' %} {% block title %}Buscar por Mecánico{% endblock %} {% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="cuadro">
                    <center><h1>Buscar Mantenciones por Mecánico</h1></center>
                    <br>
                    <form action="{% url 'resultados_por_mecanico' %}" method="GET">
                    <div class="container">
                        <div class="row">
                                <div class="col-md-11">
                                    <select name="resultados_por_mecanico" id="buscarId" class="form-select">
                                        <option value="">--- Seleccione una categoría a buscar ---</option>
                                        {% for mecanico in mecanicos %}
                                            <option value="{{mecanico.first_name}} {{mecanico.last_name}}">{{mecanico.first_name}} {{mecanico.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success" id="btnbuscarId">Buscar</button>
                                </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</main>
{% endblock %}