{% extends 'navbar.html' %} {% block content %}
    <main>
      <center><h1>Buscar Mantenciones</h1></center>
      <br><br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
          <label for="buscarId">Cuadro de Búsqueda</label>
          <input type="search" class="form-control" placeholder="Buscar" id="buscarId">
          </div>
          <div class="col-md-2">
            <label for="btnbuscarId"></label><br>
            <button type="button" class="btn btn-success" id="btnbuscarId">Buscar</A></button>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}