{% extends 'navbar.html' %} {% block title %}Crear Publicación{% endblock %} {% block content %}


<main>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <div class="solicitud">
          <center><h2>Crear Publicación</h2></center>
          <br />
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="text">Titulo publicación</label>
            <input
              type="text"
              id="tituloId"
              name="titulo_publicacion"
              class="form-control"
            />
            <div id="mensajeTituloId" style="color: white"></div>
            <br />
            <label for="diagId" id="DiagId">Diagnostico:</label>
            <textarea
              class="form-control"
              id="diagId"
              name="diagnostico_publicacion"
              rows="3"
              placeholder="Maximo 500 caracteres"
            ></textarea>
            <div id="mensajeDiagnosticoTrabajoId" style="color: white"></div>
            <br />
            <label for="DesId" id="Descrip">Descripción:</label>
            <textarea
              class="form-control"
              id="DesId"
              name="descripcion_publicacion"
              rows="3"
              placeholder="Maximo 1000 caracteres"
            ></textarea>
            <div id="mensajeDescripcionTrabajoId" style="color: white"></div>
            <br />
            <div class="mb-3">
              <label for="formFile" class="form-label"
                >Seleccione hasta 6 imágenes (minimo 1):</label
              >
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="imagenes"
                multiple
                accept=".jpg, .jpeg, .png, .webp"
                max="6"
              />
            </div>
            <div id="mensajeFotosTrabajoId" style="color: white"></div>
            <br />
            <label for="text">Categoria trabajo</label>
            <select class="form-select" name="id_categoria" id="categoriaId">
              <option value="">Categoria de trabajo:</option>
              {% if data %}
                {% for i in data %}
                <option value="{{ i.id_categtrabajo }}">
                {{ i.nombre_categtrabajo }}
                </option>
                {% endfor %}
              {% endif %}
            </select>
            <div id="mensajeCategoriaTrabajoId" style="color: white"></div>
            <br />
            <!-- Material -->
            <div class="row">
            <div class="col-6">
              <h5 class="">Escoger Material(es)</h5>
              <select id="MaterialesID" class="w-100 linea3 form-select">
                <optgroup label="Material" id="MaterialID1">
                  {% for i in material %}
                  <option value="{{i.id_material}}">
                    Material: {{i.nombre_material}}
                  </option>
                  {% endfor %}
                </optgroup>
              </select>
              <br />
              <br />
              <button
                type="button"
                id="agregarID"
                class="w-100 bordeRedondeado fondo2 titulo-arriendo btn btn-success"
              >
                Agregar
              </button>
            </div>
            <div class="col-6">
              <h5 class="">Material/es Seleccionado/s</h5>
              <select id="eliminadoID" class="linea3 w-100 form-select">
                <optgroup label="Material" id="MaterialID2"></optgroup>
              </select>
              <textarea
                name="listaMats"
                hidden
                id="ocultoID"
                cols="30"
                rows="1"
              ></textarea>
              <br />
              <br />
              <button
                type="button"
                id="eliminarID"
                class="w-100 bordeRedondeado fondo2 titulo-arriendo btn btn-danger"
              >
                Eliminar
              </button>
            </div>
          </div>
            <br /><br>
            <center>
              <button type="submit" id="publicarId" class="btn btn-success">
                Publicar
              </button>
            </center>
          </form>
        </div>
      </div>
      <div class="col-md-1 col-lg-2"></div>
    </div>
  </div>
</main>
{% endblock %}
