{% extends 'navbar.html' %} {% block title %}Editar: {{ publicacion.titulo_publicacion }}{% endblock %} {% block content %}

<main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><h1 id="tituloPublicacion">{{ publicacion.titulo_publicacion }}</h1></center>
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner" style="border-radius: 10px">
  
              <div class="carousel-item active">
                <img
                  src="{{ publicacion.foto1.url }}"
                  class="d-block w-100"
                  alt="..."
                  style="border-radius: 10px"
                />
              </div>
              {% if publicacion.foto2 %}
    <div class="carousel-item">
      <img src="{{ publicacion.foto2.url }}" class="d-block w-100" alt="..." width="500px" height="500px" style="border-radius: 10px" />
    </div>
  {% endif %}
  {% if publicacion.foto3 %}
  <div class="carousel-item">
    <img src="{{ publicacion.foto3.url }}" class="d-block w-100" alt="..." width="500px" height="500px" style="border-radius: 10px" />
  </div>
  {% endif %}
  {% if publicacion.foto4 %}
    <div class="carousel-item">
      <img src="{{ publicacion.foto4.url }}" class="d-block w-100" alt="..." width="500px" height="500px" style="border-radius: 10px" />
    </div>
  {% endif %}
  {% if publicacion.foto5 %}
    <div class="carousel-item">
      <img src="{{ publicacion.foto5.url }}" class="d-block w-100" alt="..." width="500px" height="500px" style="border-radius: 10px" />
    </div>
  {% endif %}
  {% if publicacion.foto6 %}
    <div class="carousel-item">
      <img src="{{ publicacion.foto6.url }}" class="d-block w-100" alt="..." width="500px" height="500px" style="border-radius: 10px" />
    </div>
  {% endif %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
          <div class="row"></div>
          <div class="col-md-12">
            <div class="cuadro-detalle">
              <div class="card-body" style="color:white">
                <p> Fecha de Publicación: {{ publicacion.fecha_publicacion|date:"d/m/Y" }}, Mecánico a cargo: {{ publicacion.id_user.first_name }} {{ publicacion.id_user.last_name }}, Categoria: {{ publicacion.id_categoria.nombre_categtrabajo }}</p>
              </div>
            </div>
            <!-- Aqui empieza el edit de todo -->
          <form  action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}    
            <div class="publicacionRevision">
              <center><h3>Título</h3></center>
              <div class="cuadro-trabajo">
                <p>Modifique en caso de ser necesario</p>
              <textarea class="form-control" name="titulo_publicacion">{{ publicacion.titulo_publicacion }}</textarea>
              </div>
              <hr class="hr-fade">
              <center><h3>Diagnóstico</h3></center>
              <div class="cuadro-trabajo">
                    <p>Modifique en caso de ser necesario</p>
                    <textarea class="form-control" name="diagnostico">{{ publicacion.diagnostico_publicacion }}</textarea>
              </div>
              <hr class="hr-fade">
              <center><h3>Descripción</h3></center>
              <div class="cuadro-trabajo">
                  <p>Modifique en caso de ser necesario</p>
                  <textarea class="form-control" name="descripcion">{{ publicacion.descripcion_publicacion }}</textarea>
              </div>
              <hr class="hr-fade">
              <center><h3>Imágenes</h3></center>
              <div class="cuadro-trabajo">
                  <input type="checkbox" name="cambiar_imagenes" id="checkbox_cambiar_imagenes">
                  <label for="checkbox_cambiar_imagenes">Cambiar imágenes</label>
                  <input                 
                  class="form-control"
                  type="file"
                  name="imagenes"
                  multiple
                  accept=".jpg, .jpeg, .png, .webp"
                  max="6"
                  id="input_imagenes" style="display: none;">
              </div>
              <hr class="hr-fade">
              <center><h3>Categoria</h3></center>
              <div class="cuadro-trabajo">
                  <select class="form-select" name="id_categoria" id="categoriaId">
                    <option value="{{ publicacion.id_categoria.id_categtrabajo }}">Categoria designada: {{ publicacion.id_categoria.nombre_categtrabajo }}</option>
                    {% if data %}
                      {% for i in data %}
                      <option value="{{ i.id_categtrabajo }}">
                      {{ i.nombre_categtrabajo }}
                      </option>
                      {% endfor %}
                    {% endif %}
                  </select>
              </div>
              <hr class="hr-fade">
              <center><h3>Materiales</h3></center>
              <div class="cuadro-trabajo">
              <div class="card-body" style="color:white">
              <div class="row">
                <div class="col-6">
                  <h5 class="">Escoger Material(es)</h5>
                  <select id="MaterialesID" class="w-100 linea3 form-select">
                    <optgroup label="Material" id="MaterialID1">
                      {% for i in material %}
                      <option value="{{i.id_material}}">
                        Material: {{i.nombre_material}}
                      </option>
                      {% endfor %}
                    </optgroup>
                  </select>
                  <br />
                  <br />
                  <button
                    type="button"
                    id="agregarID"
                    class="w-100 bordeRedondeado fondo2 titulo-arriendo btn btn-success"
                  >
                    Agregar
                  </button>
                </div>
                <div class="col-6">
                  <h5 class="">Material/es Seleccionado/s</h5>
                  <select id="eliminadoID" class="linea3 w-100 form-select">
                    <optgroup label="Material" id="MaterialID2">
                      {% for material in materiales %}
                          <option value="{{ material.id_material_id }}">{{ material.id_material.nombre_material }}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                  <textarea
                    name="listaMats"
                    hidden
                    id="ocultoID"
                    cols="30"
                    rows="1"
                  ></textarea>
                  <br />
                  <br />
                  <button
                    type="button"
                    id="eliminarID"
                    class="w-100 bordeRedondeado fondo2 titulo-arriendo btn btn-danger"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
            <hr class="hr-fade">  
            </div>
            <center><h3>Cantidad de Rechazos</h3></center>
              <div class="cuadro-trabajo">
                <center><p>{{ publicacion.cant_rechaz }}</p></center>
                <hr class="hr-fade">
              </div>
            <center><h3>Motivo del Rechazo</h3></center>
              <div class="cuadro-trabajo">
            <p>{{ publicacion.motivo_rechazo }}</p>
              </div>
              <center>
                <button type="submit" id="Editarid" class="btn btn-success">
                  Editar
                </button>
              </center>
            </div>
          </form>
        </div>
      </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
  <br /><br /><br />
{% endblock %}