{% extends 'navbar.html' %} {% block title %}Listado de Publicaciones{% endblock %} {% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center><h1 id="tituloBusqueda">Listado de Publicaciones</h1></center>
        <div class="cuadro">
            {% for publicacion in publicaciones %}
            <a href="{{ publicacion.foto1.url }}">
            <div class="trabajo">
                <img
                  src="{{ publicacion.foto1.url }}"
                  width="65px"
                  height="40px"
                  alt=""
                />
                Titulo: {{ publicacion.titulo_publicacion }} <br>
                Trabajo realizado por: {{ publicacion.id_user.first_name}} {{ publicacion.id_user.last_name }},
                Fecha: {{ publicacion.fecha_publicacion|date:"d/m/Y" }},
                Categoria: {{ publicacion.id_categoria.nombre_categtrabajo }}
              </div>
            </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
<br /><br /><br />
<footer></footer>
<br /><br /><br />
{% endblock %}
