{% extends 'navbar.html' %} {% block title %}Listado de Publicaciones{% endblock %} {% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cuadro">
          <center><h1 id="resultadoBusqueda">Resultados de búsqueda</h1></center>
            {% for item in results %}
            <a href="{% url 'detalle_publicacion' item.id_publicacion %}">
            <div class="trabajo">
                <img
                  src="{{ item.foto1.url }}"
                  width="65px"
                  height="40px"
                  alt=""
                />
                Titulo: {{ item.titulo_publicacion }} <br>
                Trabajo realizado por: {{ item.id_user.first_name}} {{ item.id_user.last_name }},
                Fecha: {{ item.fecha_publicacion|date:"d/m/Y" }},
                Categoria: {{ item.id_categoria.nombre_categtrabajo }}
              </div>
            </a>
            {% empty %}
            <p>No se encontraron resultados</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
<br /><br /><br />
<footer></footer>
<br /><br /><br />
{% endblock %}
