
{% extends 'navbar.html' %} {% block title %}Registro Exitoso{% endblock %} {% block content %}
<br>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            
  
              <div class="registroexitoso">

                <h1>Registro Exitoso</h1>
                <p>Tu cuenta ha sido creada exitosamente.</p>
                <p>Bienvenido(a) a nuestro sitio.</p>
                
              </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>

{% endblock %}