{% extends 'navbar.html' %} {% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

              <div class="formulario">
                <center><h2>Formulario de Registro</h2></center>
                <form action="">
                <div class="input-group mb-3">
                    <span class="input-group-text">Rut:</span>
                    <input type="text" class="form-control" placeholder="12345678" aria-label="run" id="rutId" name="rut">
                    <span class="input-group-text">Dv rut:</span>
                    <input type="text" class="form-control" placeholder="K" aria-label="dvrun" id="dvrutId" name="dvrut">
                </div>
                <p id="idrut"></p>
                <br>
                <label for="text">Primer Nombre </label>
                <input type="text" class="form-control" id="PnomId" name="nombre">
                <p id="PnombreId"></p>
                <br>
                <label for="text">Segundo Nombre </label>
                <input type="text" class="form-control" id="SnomId">
                <p id="SnombreId"></p>
                <br>
                <label for="text">Apellido Paterno </label>
                <input type="text" class="form-control" id="PapelId">
                <p id="PapellidoId"></p>
                <br>
                <label for="text">Apellido Materno (Campo opcional)</label>
                <input type="text" class="form-control" id="SapelId">
                <p id="MapellidoId"></p>
                <br>
                <label for="email">Email</label>
                <input type="email" class="form-control" id="EmailId">
                <p id="EId"></p>
                <br>
                <label for="NUMBER">Telefono</label>
                <input type="number" class="form-control" id="TelId">
                <p id="teleId"></p>
                <br>
                <label for="password">Crear contraseña</label>
                <input type="password" class="form-control" id="passId">
                <p id="passid"></p>
                <br>
                <label for="password">Repetir contraseña</label>
                <input type="password" class="form-control" id="RepId">
                <p id="repId"></p>
                <br>
                <center><button type="submit" class="btn btn-success" id="btnRegistrarId">Registrar</button></center>
              </div>
              </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>
{% endblock %}
