
{% extends 'navbar.html' %} {% block title %}Registro exitoso{% endblock %} {% block content %}
<br>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            
            
              <div class="registroexitoso" 
              style="text-align: center;  background-color: 	#931f1f;
              width: auto;
              height: auto;
              padding: 1rem;
              box-sizing: border-box;
              border: solid rgb(0, 0, 0) 5px;
              border-radius: 50px;
              margin-bottom: 5rem;">

                <h1>Registro Exitoso</h1>
                <p>Tu cuenta ha sido creada exitosamente.</p>
                <p>Bienvenido(a) a nuestro sitio.</p>
                
              </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>

{% endblock %}