{% extends 'navbar.html' %} {% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="solicitud">
                    <H2>Publicación</H2>
                    <br>
                    <label for="text">Tituló publicación</label>
                    <input type="text" id="tituloId" class="form-control">
                    <br>
                    <label for="text" id="DiagId">Diagnostico:</label>
                    <textarea class="form-control" id="diagId" rows="3" placeholder="Maximo 500 caracteres"></textarea>
                    <br>
                    <label for="text" id="Descrip">Descripción:</label>
                    <textarea class="form-control" id="DesId" rows="3" placeholder="Maximo 500 caracteres"></textarea>
                    <br>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Seleccione hasta 6 imágenes:</label>
                        <input class="form-control" type="file" id="formFile" multiple accept="image/*" max="6">
                    </div>
                    <br>
                    <label for="text">Categoria trabajo</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Categoria de trabajo: </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <br>
                    <button type="submit" id="publicarId" class="btn btn-primary">Publicar</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>
{% endblock %}
