{% extends 'navbar.html' %} {% block title %}Ver Estado de Publicación{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fondoTabla">
                <center><h1>Estado de Publicaciones</h1></center>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="scope">ID Publicación</th>
                            <th class="scope">Título Publicación</th>
                            <th class="scope">Estado</th>
                        </tr>
                        {% for publicacion in publicaciones %}    
                            <tr>
                                <td class="datos">{{ publicacion.id_publicacion }}</td>
                                <td class="datos">{{ publicacion.titulo_publicacion }}</td>
                                <td class="datos">{{ publicacion.id_estpub.nombre_estpub }}</td>
                            </tr>
                        {% endfor %}    
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
